.fondo-cabecera{
    background-image: url("lotr-siluetas.jpg");
}
.login-bg{
    /* background-color: red; */
    background-image: url("maparecortado.jpg") ;
    background-size: cover;
    
}
.runded{
    border-radius: 50%;
}
.has-shadow{
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.has-bg-map{
    background: linear-gradient(105deg, rgba(0, 0, 0, 0.4) 50%, rgba(5, 5, 5, 0.4) 50%) ,url("maparecortado.jpg");
    background-position: bottom;
    
    
    
    
}
.is-smooth{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: 1px solid rgb(172, 160, 3);
}